[run]
omit = 
	setup.py
branch = True
parallel = True
concurrency = multiprocessing

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    raise ValueError
    raise TypeError
    warnings.warn
    only on win32
    sys.platform == 'win32'
    except ImportError
    ModuleNotFoundError
    if __name__ == .__main__.: